[submodule "ZaoProcessPlugin"]
	path = ZaoProcessPlugin
	url = https://github.com/Brondon2406/ZaoProcessPlugin.git
[submodule "OpenProjectPlugin"]
	path = OpenProjectPlugin
	url = https://github.com/Brondon2406/OpenProjectPlugin.git
[submodule "ZaoKpiPlugin"]
	path = ZaoKpiPlugin
	url = https://github.com/Brondon2406/ZaoKpiPlugin.git
[submodule "DisciTrackPlugin"]
	path = DisciTrackPlugin
	url = https://github.com/Brondon2406/DisciTrackPlugin.git
[submodule "ZaoMaterialPlugin"]
	path = ZaoMaterialPlugin
	url = https://github.com/Brondon2406/ZaoMaterialPlugin.git
[submodule "ZaoMeetReserve"]
	path = ZaoMeetReserve
	url = https://github.com/Brondon2406/ZaoMeetReserve.git
[submodule "ZaoMeetReservePlugin"]
	path = ZaoMeetReservePlugin
	url = https://github.com/Brondon2406/ZaoMeetReservePlugin.git
