[submodule "ZaoProcessPlugin"]
	path = ZaoProcessPlugin
	url = https://github.com/Brondon2406/ZaoProcessPlugin.git
[submodule "OpenProjectPlugin"]
	path = OpenProjectPlugin
	url = https://github.com/Brondon2406/OpenProjectPlugin.git
[submodule "ZaoKpiPlugin"]
	path = ZaoKpiPlugin
	url = https://github.com/Brondon2406/ZaoKpiPlugin.git
